@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-neutral-0: hsl(200, 60%, 99%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-900: hsl(227, 75%, 14%);

  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);

  --font-family-sans: "Noto Sans", sans-serif;
}

body {
  font-size: 16px;
  font-family: var(--font-family-sans);
  background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  min-height: 100vh;
  transition: background 0.3s ease;
}

:root.dark body,
html.dark body {
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
}
